:root {
  --color-primary: #112c65;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #112c65;
  --color-body-font: #132e67;
  --color-body-darker: #5c5577;
  --color-background: #f5f5f5;
  --color-border: #ccc;
  --border-radius: 3rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  /* Dektop 2.2 font size */
  font-size: 1.4rem;
  color: var(--color-body-font);
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  /* 3.6rem for desktop */
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

p {
  margin-top: 0;
}

/* links */
a {
  text-decoration: none;
}

/* a:visited {
  color: var(--color-body-font);
} */

/* Lists */
.list {
  list-style: disc;
  padding-left: 1.5rem;
}

/* Buttons */
.btn {
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.btn .icons {
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 2rem 3rem;
  }

  .btn .icons {
    margin-right: 1.5rem;
  }
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.btn--secondary {
  border: 2px solid var(--color-primary);
}

.btn--secondary:visited {
  color: var(--color-primary);
}
