:root {
  --color-primary: #112c65;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #112c65;
  --color-body-font: #132e67;
  --color-background: #f5f5f5;
  --color-shadows: #ccc;
  --border-radius: 2rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  color: var(--color-body-font);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  /* 3.6rem for desktop */
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  h3 {
    font-size: 2.1rem;
    margin-bottom: 2.1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

p {
  margin-top: 0;
}

/* links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: disc;
  padding-left: 1.5rem;
}

/* Buttons */
.btn {
  border: 2px solid;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  white-space: nowrap;
}

.btn .icons {
  margin-right: 1rem;
}

@media screen and (min-width: 700px) {
  .btn {
    padding: 2rem 2rem;
  }

  .btn .icons {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 2rem 3rem;
  }

  .btn .icons {
    margin-right: 2rem;
  }
}

.btn--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-background);
}

.btn--secondary {
  border-color: var(--color-primary);
}

.btn--secondary:visited {
  color: var(--color-primary);
}

/* Icons */
.icon {
  fill: var(--color-primary);
  height: 1.8rem;
  width: 1.8rem;
}

@media screen and (min-width: 700px) {
  .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 2.8rem;
    height: 2.8rem;
  }
}

/* Grids */
.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.grid--cols2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Cards */
.card {
  border-radius: var(--border-radius);
  box-shadow: 0 0 2rem 1rem var(--color-shadows);
  max-width: 520px;
  padding: 1rem 2rem;
  width: 100%;
}

.card__img {
  width: 100%;
}

.card--grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .grid {
    gap: 2rem;
  }

  .card {
    max-width: 480px;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible__icon {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Menu lists */
/* TODO move .nav to general nav when putting navigations bar together */
/* .nav {
  display: flex;
  height: 7rem;
} */

.nav__list {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  list-style: none;
  text-align: end;
  width: 100%;
}

.nav__list-aRef {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.nav__list-item .icon {
  width: 3rem;
  height: 3rem;
}

.nav__list-item span {
  display: none;
}

@media screen and (min-width: 700px) {
  .nav__list-item .icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .nav__list-item span {
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .nav__list-item .icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  .nav__list-item span {
    display: inline-block;
  }
}
