<article class="card">
  <h2>Project showcased</h2>
  <p>
    Brief description of the project being showcased in this section. It could
    span a little longer.
  </p>
  <div class="grid card--grid-cols-2">
    <img src="images/uxsaCard.png" alt="Description" class="card__img" />
    <ul class="list">
      <li>Research</li>
      <li>UX/UI Design</li>
      <li>Content</li>
      <li>Adobe XD</li>
    </ul>
  </div>
  <div class="grid card--grid-cols-2">
    <a href="#" class="btn btn--secondary">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#figma"></use>
      </svg>
      Prototype
    </a>
    <a href="#" class="btn btn--primary">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#file"></use>
      </svg>
      Case Study
    </a>
  </div>
</article>
