<ul class="nav__list">
  <li class="nav__list-item">
    <a href="#" class="nav__list-aRef">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#home"></use>
      </svg>
      <span>Home</span>
    </a>
  </li>
  <li class="nav__list-item">
    <a href="#" class="nav__list-aRef">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#about"></use>
      </svg>
      <span>About Me</span>
    </a>
  </li>
  <li class="nav__list-item">
    <a href="#" class="nav__list-aRef">
      <svg class="icon">
        <use xlink:href="./images/sprite.svg#email"></use>
      </svg>
      <span>Contact Me</span>
    </a>
  </li>
</ul>
