<div class="container new-section">
  <div class="block">
    <h2 class="divider-line">Dev Projects</h2>
    <section class="grid grid--cols2">
      <article class="card">
        <h3>My Own Portfolio</h3>
        <p>
          A sleek and modern portfolio website showcasing my skills, projects,
          and achievements as a full stack developer and UX Designer.
        </p>
        <div class="grid card--grid-cols-2">
          <img src="images/uxsax.png" alt="Description" class="card__img" />
          <ul class="list">
            <li>UX/UI Design</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="grid card--grid-cols-2">
          <a
            href="https://www.figma.com/proto/cxIPWmmII5FQzaHUGC3I2M/UXSA-Volunteer-Page?page-id=0%3A1&node-id=86-85&starting-point-node-id=86%3A85&scaling=scale-down&mode=design&t=5EZekJqlBgRPnNCH-1"
            class="btn btn--secondary"
          >
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#github"></use>
            </svg>
            Repository
          </a>
          <a href="#" class="btn btn--primary">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#globe"></use>
            </svg>
            Live Site
          </a>
        </div>
      </article>
      <article class="card">
        <h3>Supreme Solutions</h3>
        <p>
          An easy to navigate website for a Repair Auto Shop business that
          showcases services offered and online presence.
        </p>
        <div class="grid card--grid-cols-2">
          <img src="images/cvt.png" alt="Description" class="card__img" />
          <ul class="list">
            <li>UX/UI Design</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="grid card--grid-cols-2">
          <a
            href="https://www.figma.com/proto/cxIPWmmII5FQzaHUGC3I2M/UXSA-Volunteer-Page?page-id=0%3A1&node-id=86-85&starting-point-node-id=86%3A85&scaling=scale-down&mode=design&t=5EZekJqlBgRPnNCH-1"
            class="btn btn--secondary"
          >
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#github"></use>
            </svg>
            Repository
          </a>
          <a href="#" class="btn btn--primary">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#globe"></use>
            </svg>
            Live Site
          </a>
        </div>
      </article>
    </section>
  </div>
</div>
